
#hightable,#myhightable{
  width:50%;
  margin:auto;
  margin-top:8px;
  text-align: center;
}

#hightable td,#myhightable td{
  border: 1px black solid;
}

#highlogo{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  margin:auto; 
  margin-top: 30px;
  border:2px solid grey;
  box-shadow: 2px 3px 5px #888888;
}

td{
  padding: 2px;
  margin: 2px;
}
table, th{
  font-size: 17px;
}

tbody tr:last-of-type td{
	border-bottom: 1px solid black;
}

table#hightable thead{
  background-color: lightGrey;
  color: black;
}

table#myhightable thead{
  background-color: lightGrey;
  color: black;
}

table#hightable caption{
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: black;
}

table#myhightable caption{
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: black;
}

#hightable tr:nth-of-type(2n+1){
  background-color: darkGreen;
  color: lightGrey;
}

#myhightable tr:nth-of-type(2n+1){
  background-color: darkRed;
  color: lightGrey;
}

#hightable tr:nth-of-type(2n+2){
  background-color: darkGrey;
}

#myhightable tr:nth-of-type(2n+2){
  background-color: darkGrey;
}

table#hightable tfoot{
  background-color: orange;
  color: yellow;
  font-weight: bold;	
}

table#myhightable tfoot{
  background-color: orange;
  color: yellow;
  font-weight: bold;	
}



