canvas {
  margin: auto;
}
main {
  text-align: center;
  background-image: url("images/background2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  z-index: -1;
}
body{
  margin-bottom:0px;
  overflow-x: hidden;
}

div.welcome{
  background-color: #73be27;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top:30px;
  padding-right:30px;
  padding-bottom:30px;
  padding-left:30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

img.titleimg{
  width:20%;
  margin:auto;
}

img.gif{
  float: right;
  position: relative;
  width:10%;
  height: 10%;
}

.headh1{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  margin-top: 0;
  color: white;
}

hr#headline{
  width: 40%;
  border-top: 1px solid white;
}

h2{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  font-style: normal;
  color: white;
  font-size: 16px;
  text-align: center;
}

div#arrow{
  bottom:-28px;
  border-bottom:1px solid #73be27;
  border-left:1px solid #73be27;
}

div.instruction{
  float:right;
  background-color: rgba(76, 175, 80, 0.1);
  color: lightGrey;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

div.about{
  float:left;
  background-color: rgba(76, 175, 80, 0.1);
  color: lightGrey;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}